html {
  --color-very-dark-grayish-blue: hsl(217deg 19% 35%);
  --color-desaturated-dark-blue: hsl(214deg 17% 51%);
  --color-grayish-blue: hsl(212deg 23% 69%);
  --color-light-grayish-blue: hsl(210deg 46% 95%);
  --color-shadow-primary: hsl(210deg 29% 84% / 50.34%);
}
